Calibration*

*.o
*.a
*.pyc
*~
*.swp
.*
!/.nova
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
build
builds/
_build/
*.log
python/*.tsv
misc/*.tsv
*.egg-info/
*.lvlps
*.aliases
python/dist/
python/htmlcov/

# Don't ignore this file itself
!.gitignore
*.yaml
*.egg
*.h5
*.tsv
*.pdf
dist/
